# Copyright (c) 2020 Olof Kindgren <olof.kindgren@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

CONFIG_BOARD_SERVICE=y
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_BITBANG=y

CONFIG_UART_CONSOLE=y

CONFIG_XIP=n
