CONFIG VCCAUX=3.3;

NET i_clk     LOC = V10 | IOSTANDARD = LVCMOS33;
NET i_rst     LOC = V4  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET q         LOC = P4  | IOSTANDARD = LVCMOS18;
NET o_uart_tx LOC = T7  | IOSTANDARD = LVCMOS33;

NET i_clk TNM_NET = clk;
TIMESPEC TS_USER_CLOCK = PERIOD clk 40000 kHz;
