CONFIG VCCAUX=3.3;

NET i_clk LOC = H17 | IOSTANDARD = LVTTL;

NET i_clk TNM_NET = i_clk;
TIMESPEC TS_USER_CLOCK = PERIOD i_clk 50000 kHz;


# uart tx
NET q LOC = A10 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
# led0
#NET q LOC = V16 | IOSTANDARD = LVCMOS33;
